@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.button {
    background-color: #C69749;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: 600;
}

header {
    margin-top: 60px;
    position: relative;
    height: 80vh;
    background-image: url(./assets/img/landingPagePhone.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header__gradient {
    position: absolute;
    top: 60;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.nav__container {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    z-index: 9999;
}

.nav__logo {
    text-decoration: none;
    color: #C69749;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
}

.toggle__menu {
    background: none;
    border: none;
    color: #C69749;
    cursor: pointer;
}

.nav__links {
    position: absolute;
    top: 60px;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    list-style: none;
    background-color: #fff;
}

.nav__link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #C69749;
    font-size: 22px;
    font-weight: 500;
    width: 100%;
    height: 60px;
}

.hero__info {
    text-align: center;
    position: relative;
    color: #fff;
}

.hero__sub-header {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 15px;
    color: rgba(255, 255, 255, 0.7);
}

.hero__header {
    letter-spacing: 2px;
    margin-bottom: 15px;
}

.hero__description {
    font-size: 14px;
    letter-spacing: 0.5px;
    padding: 0px 30px;
    line-height: 130%;
    margin-bottom: 15px;
    color: rgba(255, 255, 255, 0.7);
}

.hero__link {
    text-decoration: none;
    display: inline-block;
}

.about {
    background-color: #183D3D;
    padding: 30px 20px;
}

.about__text-container {
    text-align: center;
    margin-bottom: 10px;
}

.about__sub-header {
    margin-bottom: 5px;
    color: #fff;
    font-size: 15px;
}

.about__header {
    color: #fff;
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.about__card {
    height: 400px;
    width: 100%;
    margin-bottom: 15px;
}

.about__img {
    height: 100%;
    width: 100%;
}

.text-card {
    color: #fff;
    background-color: #5C8374;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
}

.card__sub-header {
    font-size: 15px;
    margin-bottom: 15px;
}

.card__header {
    font-size: 35px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.card__sub-description {
    margin-bottom: 25px;
}

.card__sub-link {
    text-decoration: none;
    display: inline-block;
}

.our-special {
    background-color: #5C8374;
    padding: 30px 20px;
}


.our-special__text-container {
    margin-bottom: 15px;
    color: #fff;
}

.our-special__sub-header {
    font-size: 15px;
    margin-bottom: 10px;
}

.our-special__header {
    font-size: 35px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.our-special__image-container {
    display: none;
}

.our-special__menu-options {
    color: #fff;
}

.our-special__menu-option {
    margin-bottom: 15px;
}

.menu-option__menu-option-container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr auto;
    /* justify-content: space-between; */
    width: 100%;
    margin-bottom: 5px;
}

.menu-option-line {
    justify-self: flex-end;
    height: 1px;
    background-color: #C69749;
    width: 90%;
}

.menu-option__name {}

.menu-opion__description {
    color: rgba(255, 255, 255, 0.7);
}