@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

.sub-header {
    margin-bottom: 5px;
    font-size: 22px;
    color: rgba(255, 255, 255, 0.7);
    font-family: 'Dancing Script', cursive;
}

.header {
    color: #fff;
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 15px;
}

.button {
    background-color: #C69749;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: 600;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    display: inline-block;
    color: #fff;
}

body {
    background-color: #183D3D;
    margin-top: 60px;
}

.desktop-nav__links {
    display: none;
}

header {
    position: relative;
    height: 80vh;
    background-image: url(./assets/img/landingPagePhone.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header__gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.nav__container {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    z-index: 9999;
}

.nav__logo {
    text-decoration: none;
    color: #C69749;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
}

.toggle__menu {
    background: none;
    border: none;
    color: #C69749;
    cursor: pointer;
}

.nav__links {
    position: absolute;
    top: 60px;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 60px);
    list-style: none;
    background-color: #fff;
}

.nav__links.active {
    display: flex;
}

.nav__link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #C69749;
    font-size: 22px;
    font-weight: 500;
    width: 100%;
    height: 60px;
}

.hero__info {
    text-align: center;
    position: relative;
    color: #fff;
}

.hero__description {
    font-size: 14px;
    letter-spacing: 0.5px;
    padding: 0px 30px;
    line-height: 130%;
    margin-bottom: 15px;
    color: rgba(255, 255, 255, 0.7);
}

.about {
    background-color: #183D3D;
    padding: 30px 20px;
}

.about__text-container {
    text-align: center;
    margin-bottom: 10px;
}

.about__card {
    height: 500px;
    width: 100%;
    margin-bottom: 15px;
}

.about__img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.text-card {
    color: #fff;
    background-color: #5C8374;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
}

.card__sub-description {
    margin-bottom: 25px;
    color: rgba(255, 255, 255, 0.7);
}

.our-special {
    background-color: #5C8374;
    padding: 30px 20px;
}


.our-special__text-container {
    margin-bottom: 15px;
    color: #fff;
}

.our-special__image-container {
    display: none;
}

.our-special__menu-options {
    color: #fff;
}

.our-special__menu-option {
    margin-bottom: 15px;
}

.menu-option__menu-option-container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr auto;
    width: 100%;
    margin-bottom: 5px;
}

.menu-option-line {
    justify-self: flex-end;
    height: 1px;
    background-color: #C69749;
    width: 90%;
}

.menu-opion__description {
    color: rgba(255, 255, 255, 0.7);
}

.menu-option__price {
    margin-left: 5px;
}

.useful-tips {
    color: #fff;
    padding: 30px 20px;
    background-color: #183D3D;
}

.useful-tips__tip-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    color: rgba(255, 255, 255, 0.7);
    line-height: 140%;
}

.useful-tips__icon {
    margin-right: 10px;
}

.useful-tips__img-container {
    display: none;
}

.best-special {
    color: #fff;
    padding: 30px 20px;
    background-color: #183D3D;
}

.best-special__container {
    background-color: #5C8374;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
    height: 400px;
}

.best-special-text {
    color: rgba(255, 255, 255, 0.7);
}

.best-special-link {
    margin-top: 15px;
}

.latest-news__container {
    padding: 30px 20px;
}

.latest-news__header-container {
    text-align: center;
}

.latest-news__message-container {
    background-color: #5C8374;
    margin-bottom: 15px;
}

.latest-news__image {
    width: 100%;
}

.latest-news__text-header {
    text-transform: uppercase;
    margin-bottom: 10px;
}

.latest-news__text-container {
    padding: 20px;
    color: #fff;
}

.latest-news__span {
    color: #C69749;
    text-transform: uppercase;
}

.latest-news__text {
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.7);
}

.contact-us {
    position: relative;
    background-image: url(./assets/img/contactUs.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 20px;
}

.contact-us__container {
    width: 100%;
    background-color: #183D3D;
    padding: 20px;
    max-width: 600px;
}

.contact-us__sub-header {
    font-size: 22px;
    margin-bottom: 10px;
    text-align: center;
}

.contact-us__header {
    margin-bottom: 15px;
    text-align: center;
}

.contact-us__form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contact-us__inputs-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
}

.contact-us__input,
.contact-us__textarea {
    width: 100%;
    background-color: #5C8374;
    font-size: 16px;
    padding: 15px 10px;
    border: none;
    margin-bottom: 20px;
    border-radius: 5px;
}

.contact-us__input::placeholder,
.contact-us__textarea::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.contact-us__textarea {
    resize: none;
    height: 150px;
}

footer {
    text-align: center;
    padding: 30px 20px;
}

.footer-information__text {
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 15px;
}

@media screen and (min-width:768px) {
    .sub-header {
        margin-bottom: 5px;
        font-size: 24px;
    }

    .header {
        font-size: 45px;
        letter-spacing: 2px;
        margin-bottom: 15px;
    }

    .hero__description {
        font-size: 20px;
        padding: 0 80px;
    }

    .about__cards {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .about__card {
        height: 350px;
        width: 32%;
    }

    .card__sub-header {
        font-size: 15px;
    }

    .card__header {
        font-size: 28px;
    }

    .latest-news__news-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .latest-news__message-container {
        width: 32%;
        margin-bottom: 0;
        height: 460px;
    }

    .latest-news__image-container {
        height: 220px;
    }

    .latest-news__image {
        height: 100%;
        object-fit: cover;
    }

    .footer-information__header {
        font-size: 30px;
    }

}

@media screen and (min-width:1280px) {
    header {
        height: 62vh;
    }

    .sub-header {
        margin-bottom: 10px;
    }

    .header {
        margin-bottom: 40px;
    }

    body {
        margin-top: 80px;
    }

    .nav__links {
        display: none;
    }

    .toggle__menu {
        display: none;
    }

    .nav__container {
        padding: 0 40px;
        height: 80px;
    }

    .nav__logo {
        font-size: 30px;
    }

    .desktop-nav__links {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 50%;
        height: 100%;
        list-style: none;
    }

    .desktop-nav__link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        letter-spacing: 1px;
        font-weight: 500;
    }

    .desktop-nav__link:hover {
        color: #C69749;
    }

    .about {
        padding: 60px 20px;
    }

    .about__card {
        height: 500px;
    }

    .card__header {
        font-size: 50px;
    }

    .our-special__menu {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .our-special__image-container {
        display: grid;
        width: 40%;
    }

    .our-special__image {
        justify-self: right;
        width: 90%;
        object-fit: cover;
    }

    .our-special__image.left {
        justify-self: left;
    }

    .our-special__menu-option {
        margin-bottom: 25px;
    }

    .menu-option__name {
        font-size: 20px;
    }

}